/* .background-2{
  background: url("./assets/background.jpg");
  background-size: cover;
} */
/* .full-page-container{
  width: calc(100%-240px) !important;
  height: calc(100vh - 56px) !important;
  background-color: blue;
} */
/* .position-sticky{
  z-index: 999999;
} */